.popular{
    padding-top: 124px;
    padding-bottom: 122px;
    .section-title{
        padding-bottom: 124px;
    }
}

.card{
    min-width: 365px;
    text-align: center;
    border: 0;
    .card-title{
        margin-top: 16px;
        font-size: 25px;
        font-weight: 700;
    }

    .card-title-text,.card-price{
        margin-top: 4px;
        font-size: 25px;
        line-height: 30px;
        font-weight: 400;
    }

    .card-text{
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
    }

    .card-price{
        margin-top: 14px;
    }

    .btn{
        color: #000;
        margin-top: 6px;
        width: 181px;
        height: 41px;
        border: 0;
        border-radius: 0;
        background-color: $bg-color-footer;
    
    }
    .card-img-top{
        height: 281px;
    }
}

@media screen and (max-width: 1180px){
    .popular{
        .card{
            margin-top: 60px;
        }
    }
}
